// scss ngoài lề cho 1 cái nut
.nutXanhXanh{
    background: linear-gradient(to right,#00de6ffb,#00bddefb);
}

.nutSua{
    background: linear-gradient(to right,#00aadefb,#de00d3fb);
}

.nutXoa{
    background: linear-gradient(to right,#de0000fb,#de0000fb);
}

.borderleft{
    border-left: 5px solid green;
}

.borderRed{
    border: 2px solid #decf00fb;
}