.xanhduongnhat{
    background-color: #a5dfe5;
    transition: all 1s;
}

.mauhong{
    background-color: #f4b0ae;
    transition: all 1s;
}

.mautim{
    background-color: #d6dae4;
    transition: all 1s;
}

.xanhduong{
    background-color: #556e8e;
    transition: all 1s;
}

.xanhla{
    background-color: rgba(0, 128, 0, 0.692);
    transition: all 1s;
}

.cam{
    background-color: #fcbd88;
    transition: all 1s;
}

.do{
    background-color: rgba(255, 0, 0, 0.589);
    transition: all 1s;
}   