
.CV2{
    display: flex;
    .headerCV2{
        background-color: #556e8e;
        width: 40%;
        text-align: center;
        .imgCV2{
            padding: 40px;
            margin: 0 auto;
        }
    }
    
    .bodyCV2{
        width: 60%;
    }
}

.mauXanh{
    color: #556e8e;
}